*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(108,117,125);
}
.jmbtrn{
    background-color: #fff;
    margin-top:20px;
}
header{
    background-color: #fff;
    
}
.answers{
   margin-top:20px;
   justify-content:space-between;
}
.img-div{
    background-color: rgb(246,246,246);
    padding:10px;
}
.img-div img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
}